/* The light-mode-toggle - the box around the toggle-slider */
.light-mode-toggle {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.light-mode-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The toggle-slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 30px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: rgb(219, 198, 2);
  transition: 0.4s;
}

.light-mode-toggle input:checked + .toggle-slider {
  background-color: #000000;
}

.light-mode-toggle input:focus + .toggle-slider {
  box-shadow: 0 0 1px #000000;
}

.light-mode-toggle input:checked + .toggle-slider:before {
  transform: translateX(1.5em);
}

.toggle-slider::after {
  width: 20px;
  height: 20px;
  left: 20%;
  top: 10%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  transition: ease 0.4s;
}

.light-mode-toggle input:checked + .toggle-slider::after {
  left: 80%;
  width: 0px;
  height: 0px;
}
